---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
BreakBeforeBraces: Attach
SpaceAfterTemplateKeyword: true
IncludeBlocks: Regroup
